################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Inventory(Course)/v16
*.v2
/Business/obj/Debug/netcoreapp3.1
/Business/obj
