@using Entities
@using Business

<div class="form-group">
    <select class=" form-control" @onchange="OnChangeWarehouse">
        <option value="">Seleccione una bodega ...</option>
        @foreach (var warehouse in warehouses)
        {
            <option value="@warehouse.WarehouseId">@warehouse.WarehouseName</option>
        }
    </select>
</div>

@code {
    InOutEntity oInOut = new InOutEntity();
    List<WarehouseEntity> warehouses = new List<WarehouseEntity>();
    List<StorageEntity> storages = new List<StorageEntity>();

    protected override async Task OnInitializedAsync()
    {
        warehouses = B_Warehouse.WarehousesList();
    }

    private void OnChangeWarehouse(ChangeEventArgs e)
    {
        var idWareHouse = e.Value.ToString();
    }

}
