@page "/"

<h1>Sistema de Inventario</h1>
<div class="container-fluid">
    <p class="h4">
        Bienvenido
    </p>
    <hr />
    <h4>Registro de Entradas y Salidas</h4>
    @*<CreateProductComponent />*@
    <CreateInOutComponent />

    <h4>Listado de Productos</h4>
    <ListProductsComponent />
</div>